@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amaticsc/v23/TUZ3zwprpvBS1izr_vOMscGKfrUC.woff2) format("woff2");
}

// @font-face {
// 	font-family: "Open Sans";
// 	font-style: normal;
// 	font-weight: 400;
// 	font-stretch: normal;
// 	font-display: swap;
// 	src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2)
// 		format("woff2");
// }

@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2");
}
