@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amaticsc/v23/TUZ3zwprpvBS1izr_vOMscGKfrUC.woff2) format("woff2");
}

@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/nunito/v23/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2)
		format("woff2");
}
