h1 {
	margin: 0;
}

body {
	background: hsl(30, 100%, 95%) !important;
}

// @font-face {
// 	font-family: "Gloria Hallelujah";
// 	font-style: normal;
// 	font-weight: 400;
// 	font-display: swap;
// 	src: url(https://fonts.gstatic.com/s/gloriahallelujah/v15/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zM.woff2) format("woff2");
// }

@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amaticsc/v23/TUZ3zwprpvBS1izr_vOMscGKfrUC.woff2) format("woff2");
}
