.parent {
	margin: 0 auto;
	width: 70%;
	display: grid;
	grid-template-areas:
		"head quib"
		"navi main"
		"foot foot";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 70px auto auto;
	grid-gap: 50px;

	header {
		grid-area: head;
	}

	nav {
		grid-area: navi;
	}

	main {
		grid-area: main;
		height: 800px;
	}

	footer {
		grid-area: foot;
		height: 120px;
	}
}

.quickBarContainer {
	grid-area: quib;
	position: sticky;
	top: -10px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.quickBar {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	margin-left: 10%;
	border-radius: 0 0 10px 10px;
	background-color: red;
}
